<div class='row'>
  <ul class='nav nav-tabs'>
    <li role='presentation'>
      <a target="content" href="http://192.168.42.98:8989">TV Series</a>
    </li>
    <li role='presentation'>
      <a target="content" href="http://192.168.42.98:5050">Movies</a>
    </li>
    <li role='presentation'>
      <a target="content" href="http://192.168.42.98:32400/web/index.html">Plex</a>
    </li>
    <li role='presentation'>
      <a target="content" href="http://192.168.42.98:8080">Transfers</a>
    </li>
  </ul>

  <div class='container-fluid'>
    <iframe name="content" style="width: 100%; height: 1200px; margin: 0; padding: 0; border: 0;"></iframe>
  </div>
</div>
